---
layout: page
---

{{ content }}


<img src="https://github.com/sachinsshetty/revive/actions/workflows/all_branch.yml/badge.svg" alt="Build Status">

<img src="https://github.com/sachinsshetty/revive/actions/workflows/codeql-analysis.yml/badge.svg" alt="CodeQL Status">


<h3>Options for Template</h3>

<Table>
    <tr>
        <th>Docker Image</th>
        <th>Docker Hub Repo </th>
        <th>Github Package Registry</th>
        <th>Size(Mb)</th>
        <th>Status</th>

    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td><td>Maria Anders</td>
        <td>Germany</td>
    </tr>
</Table>
